body {
    width: 650px;
    background: rgba(220, 227, 255, 0.1);
    color: #000000;
    font-size: 13px;
}

#extension-heading, #recommendations, #headers, #ad-section-heading {
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
#headers {
    width: 60%;
    float: left;
    display: inline;
}
#ad-section-heading {
    width: 30%;
    float: left;
    display: inline;
    text-align: center;
}
p.info {
    font-size: 13px;
    margin: 5px;
    background: #f1f6ff;
    padding: 5px;
}
p.warning {
    font: 14px;
    color: #ff0000;
}
button {
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    font-size: 12px;
    padding: 0 2rem;
    min-width: 10rem;
    display: inline-block;
    background-image: linear-gradient(to top, #1B6EBE, #328ee8);
    background-color: #1B6EBE;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: visible;
    border-radius: 10px;
    border: 0;
    color: #fff;
    outline: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
}
#refresh {
    width: initial;
    background-image: linear-gradient(to top, #c1cad2, #f8f8f9);
    margin-left: 10px;
    color: black;
}
}
#home {
    float: right;
}
span.info-heading {
    font-weight: 700;
}
.noindex, .none-h1 {
    color:red;
}
.noindex span, .none-h1 span {

}
#logo {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.left {
    width: 75%;
    height:300px;
    float: left;
}
.right {
    width: 25%;
    height:300px;
    float: right;
}
.row {
    width: 100%;
}
fieldset {
    border-width: 1px;
    border-style: solid;
    border-color:#1a53ce;
    border-radius: 10px;
    width:92%;
    height:63px;
    float:left;
    background: rgba(233, 236, 251, 0.21);
}
.link-button {
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    font-size: 12px;
    padding: 0 2rem;
    min-width: 6rem;
    display: inline-block;
    background-image: linear-gradient(to top, #1B6EBE, #328ee8);
    background-color: #1B6EBE;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: visible;
    border-radius: 10px;
    border: 0;
    color: #fff;
    outline: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
}
.link-button a:visited {
    color:black;
    text-decoration:none;
}
.headers-table {
    font-size: 11px;
    padding: 0px;
    margin: 0px;
}
#headers-panel {
    width: 60%;
    float: left;
}
#ad-section {
    width: 30%;
    float: left;
}
div.text-icon {
    width: 20%;
    float:left;
}
div.image-button {
    text-align: center;
}
a.with-icon{
    text-decoration:none;
    font-size:12px;
}
div.image-text {
    text-align: center;
    color:black;
    text-decoration:none;
}
#netpeak-cloud-panel {
    width: 100%;
}
.full-width-and-height {
    width: 100%;
    height: 100%;
}
.header-section{
    background: #1B6EBE;
    color: white;
    margin: -8px;
}
.main-section {
    margin-top: 10px;
}