body {
    width: 700px;
    background: #00B8E4;
    color: #ffffff;
    font-size: 13px;
}

#extension-heading, #recommendations, #headers, #ad-section-heading {
    padding: 5px;
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
}
#headers {
    width: 60%;
    float: left;
    display: inline;
}
#ad-section-heading {
    width: 30%;
    float: left;
    display: inline;
    text-align: center;
}
p.info {
    font-size: 13px;
    margin: 5px;
}
p.warning {
    font: 14px;
    color: #ff0000;
}
button {
    background: white;
    border: 1px solid #795548;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 12px;
}
#refresh {
    width: initial;
}
#home {
    position:fixed;
    top:5px;
    left:5px;
}
span.info-heading {
    font-weight: 800;
    text-decoration: underline;
}
.noindex, .none-h1 {
    color:red;
}
.noindex span, .none-h1 span {
    color:white;
}
#logo {
    position:fixed;
    top:5px;
    right:5px;
}
.left {
    width: 75%;
    height:240px;
    float: left;
}
.right {
    width: 25%;
    height:240px;
    float: right;
}
.row {
    width: 100%;
}
fieldset {
    border-width: 1px;
    border-style: solid;
    border-color:white;
    width:63%;
    height:63px;
    float:left;
    background: rgba(31, 55, 195, 0.21);
}
.link-button {
    color:black;
    text-decoration:none;
    background:white;
    padding:3px;
    width:95%;
    border:1px solid black;
    margin-bottom: 5px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}
.link-button a:visited {
    color:black;
    text-decoration:none;
}
.headers-table {
    font-size: 11px;
    padding: 0px;
    margin: 0px;
}
#headers-panel {
    width: 60%;
    float: left;
}
#ad-section {
    width: 30%;
    float: left;
}
div.text-icon {
    width: 25%;
    float:left;
}
div.image-button {
    text-align: center;
}
a.with-icon{
    text-decoration:none;
    font-size:12px;
}
div.image-text {
    text-align: center;
    color:white;
    text-decoration:none;
}
#netpeak-cloud-panel {
    width: 25%;
}
.full-width-and-height {
    width: 100%;
    height: 100%;
}